.app-container {
  .header-container {
    .btn-login {
      border-radius: 10px;
      margin-right: 8px;
      border: 1px solid;
      padding: 0 15px;
      height: 40px;
    }
    .btn-signup {
      background-color: rgb(68, 67, 67);
      color: white;
      border-radius: 10px;
      margin-right: 8px;
      border: 1px rgb(255, 231, 231);
      padding: 0 15px;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }
    .navbar {
      z-index: 10;
      padding-top: 5px ;
      background-color: rgb(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: aqua;
        }
      }
    }
  }
}
.app-content{
  .homepage-content {
    width: 50%;
    float: right;
    position: relative;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    .title-1{
      font-size : 80px;
      letter-spacing: -0.02em;
      line-height: 1;
    }
    .title-2 {
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 1.2;
      text-wrap : balance;
    }
    .btn-get{
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      color: white;
      width: 200px;
      height: 50px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      &:hover {
        background-color: rgb(68, 67, 67);
      }
    }
    
  }
}

@media (min-width: 1350px) {
  .container, .container-lg, .container-md, .container-sm, .container-x1 {
    max-width: 1300px !important;
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vm;
}